.atas {
    display: flex;
    background: aquamarine;
}

img.gambar {
    width: 100px;
}

.title {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

ul.menu {
    display: flex;
    justify-content:flex-start;
    list-style: none;
    color: black;
    margin-top: 0px;
}
li {
    margin: 10px;
}

.tentang-saya {
    width: fit-content;
    background: aquamarine;
    padding: 3px;
    border-radius: 5px;
}

thead {
    background: aquamarine;
}
.form {
    padding: 20px;
}

.isi {
    font-size: 17px;
}
h1.h-title {
    color: black;
    font-size: 30px;
}

header {
    margin-bottom: 0px;
}

.menubar {
    margin-top: 0px;
    background: lightgray;
}
h2.subtittle {
    padding: 10px;
    color:black;
}

p.caption {
    color: black;
}

.detail p {
    text-align: justify;
    margin: 20px;
}

.detail {
    background: #e9e6e6;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tentangsaya {
    width: fit-content;
    background: aquamarine;
    border-radius: 10px;
    margin-top: 20px;
}


th {
    text-align: center;
}

table.table-pengalaman.table.table-striped {
    margin-top: 20px;
}

.pertanyaan {
    background: aquamarine;
    width: 100%;
    border-radius: 10px;
}
input.box {
    border-radius: 10px;
    width: 75%;
}

.isi {
    font-size: 17px;
}
footer {
    background: aquamarine;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    color:black;
    font-weight: bold;
}

.mb-3.name {
    display: flex;
}

input.form-control {
    margin-left: 10px;
}

form.isi {
    padding: 10px;
}